/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@font-face {
	font-family:'Vervm';
	font-style:normal;
	src:url('/wp-content/themes/bridge-child/fonts/VerveineRegular.otf') format('otf'),
		url('/wp-content/themes/bridge-child/fonts/VerveineRegular.woff') format('woff'),
		url('/wp-content/themes/bridge-child/fonts/VerveineRegular.TTF')  format('truetype'),
		url('/wp-content/themes/bridge-child/fonts/VerveineRegular.svg') format('svg');
}
@import url("../bridge/style.css");

body {
    font-family: "Montserrat";
    font-size: 16px;
}
h1,h2,
.h1,.h2{
    font-family:'Vervm';
    font-weight: normal;
}

.woocommerce .product h1.product_title {
    font-size: 40px;
    color: #0033A1;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    font-family: "Montserrat";
    line-height: normal;
    margin-bottom: 10px;
}
.woocommerce .product .cat_tite {
    font-size: 18px;
    display: inline-block;
    width: 100%;
    font-weight: 600;
    color: #464646;
    border-bottom: solid 1px #D6D6D6;
    margin-bottom: 27px;
    padding-bottom: 16px;
    border-bottom: solid 1px #D6D6D6;
    margin-bottom: 27px;
    line-height: 33px;
}
.woocommerce .product .price bdi {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    color: #464646;
}


table.variations {
    width: 100%;
}

.qode-single-product-summary table.variations {
    width: 100%;
}
.qode-single-product-summary table.variations tbody {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.qode-single-product-summary table.variations tbody tr {
    width: 50%;
    padding: 10px 0px;
}
.qode-single-product-summary table.variations tbody tr:last-child {
    width: 100%;
}
#table-size + ul[aria-label="Table Size"] li {
    border-radius: 0;
    width: 138px;
    background-color: #fff;
    box-shadow: unset !important;
    border: 2px solid transparent !important;
    height: 54px;
    margin-right: 25px;
}
#table-size + ul[aria-label="Table Size"] li.selected {
    border-color: #0033A1 !important;
}
.reset_variations {
    display: none !important;
}
.qode-single-product-summary table.variations tbody tr .label span.woo-selected-variation-item-name {
    font-size: 18px;
}
.qode-single-product-summary table.variations tbody tr .label label {
    margin-bottom: 0;
    color: #464646;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 700;
}
.qode-single-product-summary table.variations tbody tr .label span {
    margin-bottom: 0;
    color: #464646;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 400;
}
.up-sells.upsells.products {
    display: inline-block;
    width: 100%;
}
.woocommerce div.product .cart .quantity {
    float: left;
    margin-right: 4%;
    padding: 0;
    height: 70px;
    line-height: 70px;
    background: #fff;
    position: relative;
    width: 20%;
    margin-bottom: 20px;
}
.woocommerce div.product .cart .quantity input.plus,
.woocommerce div.product .cart .quantity input.minus {
    position: absolute;
    right: 9px;
    color: #000;
    font-size: 0;
    width: 26px;
    height: 26px;
}
.woocommerce div.product .cart .quantity input.plus {
    top: 13px;
    background: url(/wp-content/uploads/2020/11/arrow-up.png) no-repeat !important;
}
.woocommerce div.product .cart .quantity input.minus {
    bottom: 0px;
    background: url(/wp-content/uploads/2020/11/arrow-down.png) no-repeat !important;
    background-position: 1px 0 !important;
}
.woocommerce div.product .input-text.qty.text {
    margin: auto;
    float: none !important;
    width: 40px !important;
    font-size: 22px !important;
}
.woocommerce .single_add_to_cart_button {
    background: #0033A1;
    color: #fff;
    font-family:"Montserrat";
    height: 70px;
    font-size: 22px;
    width: 68%;
    border: 0px;
    text-align: center;
}
.woo-variation-swatches.wvs-show-label .variations td {
   
    padding: 5px 0 !important;
}

.woocommerce div.product .q_accordion_holder.accordion.boxed h6.ui-accordion-header {
    text-align: left;
    background-color: transparent !IMPORTANT;
    color: #0033A1 ;
    font-size: 32px;
    text-transform: none;
    border-bottom: solid 1px #ccc;
    padding: 14px 0;
    font-weight: 400;
    background-image: url(/wp-content/uploads/2020/11/arrow-down_lg.png) ;
    background-repeat:no-repeat;
    background-position: right center;
    font-family:'Vervm';
}
.woocommerce div.product .q_accordion_holder.accordion.boxed h6.ui-accordion-header.ui-state-active {
    background-image: url(/wp-content/uploads/2020/11/arrow-up_lg.png)  !important;
}
.woocommerce div.product .summary p.price span.amount {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
    display: block;
    color: rgba(86, 86, 86, 1);
}
.woocommerce div.product .woocommerce-product-rating {
    position: absolute;
    right: 0;
    height: 62px;
}
.woocommerce div.product  a.woocommerce-review-link {
     margin:0 0 0 10px;
     font-family:"Montserrat";
     margin-top: 2px;
}
.woocommerce-product-rating {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
.woocommerce .star-rating, .woocommerce-page .star-rating {
    color: #0033A1;
}
.under-product-full-width {
    min-height: 100vh;
    max-height: 100vh;
}
.under-product-full-width img {
    object-fit: cover;
}
.under-product-image-content {
    display: flex;
    flex-wrap: wrap;
}
.upic-50 {
    display: flex;
    align-items: center;
    width: 50%;
}
.upic-50 h2 {
    color: #0033A1;
    font-size: 52px;
    font-weight: 400;
}
.bg-white {
    background-color: #fff;
}
.up-padding {
    padding: 50px 0px;
}
.upic-content-wrap {
    max-width: 400px;
}
h4.qode-related-upsells-title {
    font-size: 50px;
    color: #0033A1;
    font-family:'Vervm';
}
.up-sells .products h6 {
    font-size: 32px;
    line-height: 40px;
    color: #0033A1 !important;
}
.up-sells .products h6:hover {
    color: #0033A1;
}
.up-sells .products .price bdi {
    font-size: 15px;
    font-weight: bold;
}
.up-sells ul.products li.product a.product-category,
.up-sells ul.products li.product a.product-category,
.up-sells  ul.products li.product {
    background-color: transparent  !important;
}
.up-sells.upsells.products,
.related.products {
    background: #fff;
    padding: 50px 0;
    position: relative;
}






@media only screen and (max-width: 768px) {
    .upic-50 {
        width: 100%;
    }
}
.elementor-element.elementor-products-grid ul.products li.product img {
    height: 370px;
    object-fit: contain;
}
.elementor-element.elementor-products-grid ul.products li.product a:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: #000;
    top: 0;
    height: calc(100% - 66px);
    opacity: 0.2;
    transition: 0.5s;
}
.elementor-element.elementor-products-grid ul.products li.product a:hover:after {
    opacity: 0.11;
}
.elementor-element.elementor-products-grid ul.products li.product a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
.home__seller .elementor-image-box-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
}
.company_benefits .elementor-element.elementor-widget-image-box {
    padding: 0 13px;
}
.company_benefits .elementor-element.elementor-widget-image-box .elementor-image-box-img {
    height: 86px;
}
.latest_post_two_holder .latest_post_two_text {
    padding: 51px 15px 59px;
}

.footer-wrap li.elementor-icon-list-item span {
    font-size: 14px;
    font-weight: 700 !important;
    color: rgba(70, 70, 70, 1);
}
.footer-wrap p {
    font-size: 14px;
    font-weight: 500 !important;
    color: rgba(70, 70, 70, 1);
    margin-bottom: 20px;
}


figure.woocommerce-product-gallery__wrapper {
    width: 100%;
    margin: 0;
    background: rgba(246, 246, 246, 1);
    mix-blend-mode: darken;
}
.qode-single-product-summary table.variations tbody tr {
    display: none;
}
.qode-single-product-summary table.variations tbody tr:first-child, .qode-single-product-summary table.variations tbody tr:last-child {
    display: block;
}
.woocommerce .product .images .woocommerce-product-gallery__image:not(:first-child) a {
    background: #fff !important;
    border: solid 2px transparent;
    display: block;
    overflow: hidden;
    width: 125px;
    height: 125px;
}
.woocommerce .product .images .woocommerce-product-gallery__image:not(:first-child) a img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.woocommerce .product .images .woocommerce-product-gallery__image:not(:first-child) a {
    background: #fff !important;
    border: solid 2px transparent;
    display: block;
    overflow: hidden;
    width: 125px;
    height: 125px;
    transition: 0.5s;
}
.woocommerce .product .images .woocommerce-product-gallery__image:not(:first-child) a:hover {
    border-color: #0033a1;
}
.up-sells.upsells.products{ position: relative;}

.up-sells.upsells.products:before,
.related.products:before, 
.related.products:after ,
.up-sells.upsells.products:after{
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
}
.up-sells.upsells.products:after,
.related.products:after {
    right: -100%;
    left: auto;
}
.woocommerce div.product div.upsells ul.products,
.woocommerce div.product div.related ul.products{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.woocommerce div.product div.upsells ul.products li.product,
.woocommerce div.product div.related ul.products li.product {
    width: 25% !important;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;
}
.woocommerce ul.products li.product h6 ,
.woocommerce ul.related li.product h6 {
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0;
}
.woocommerce ul.products li.product ul.variations,
.woocommerce ul.products li.product span.add-to-cart-button-outer {
    display: none !important;
} 
.woocommerce ul.products li.product .price del span.woocommerce-Price-amount.amount bdi {
    color: #adadad;
    font-weight: 500;
    text-decoration: line-through;
}
.woocommerce-page .qode-single-product-summary p.price {
    display: flex;
    align-items: center;
}
.woocommerce-page .qode-single-product-summary del,
 .woocommerce-page .qode-single-product-summary ins {
  
    margin-right: 10px;
}
.woocommerce-page .qode-single-product-summary del {
    order: 2;
}

.woocommerce div.product div.upsells ul.products li.product span.image-wrapper img,
.woocommerce div.product div.related ul.products li.product span.image-wrapper img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.woocommerce-page ul.products li.product .product-categories a {
    color: rgba(70, 70, 70, 1);
    font-size: 18px;
    font-weight: 700;
}

.woocommerce-page ul.products li.product a.product-category.product-info h6 {
    color: rgba(0, 51, 161, 1);
}

.woocommerce-page ul.products li.product a.product-category.product-info h6 {
    color: rgba(0, 51, 161, 1);
    font-size: 20px;
    margin: 0;
}
.woocommerce ul.products li.product .price .amount.woocommerce-Price-amount bdi {
    font-size: 15px;
    font-weight: 700;
}
.tax-product_cat .container, 
.tax-product_cat .content {
    background: #fff;
}

.title h1,
 .title.title_size_small h1 {
    font-size: 50px;
    line-height: normal;
    color: #0033A1;
    font-weight: normal;
}
.title_subtitle_holder span.separator.small.left {
    display: none;
}
.woocommerce .product .onsale {   
    display: none}
    .woocommerce .woocommerce-ordering, 
    .woocommerce .woocommerce-result-count {
    display: none;
}

.title_outer.title_without_animation > div {
    height: 100px !important;
}
/*
Title pages
=========================
*/


.title .title_holder {
    display: none !important;
}
.tax-product_cat .title .title_holder {
    display: table !important;
}
.tax-product_cat .container_inner {padding-top: 150px !important;}
/*End */
.page-id-694 .container_inner {
    padding-top: 0 !IMPORTANT;
}


.blog_holder article .post_text h5 a {
    color: rgba(70, 70, 70, 1);
}
.blog_holder article .post_text h5 {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0;
    font-weight: 700;
}





/*
============================
Responsive css
===========================
*/
@media (max-width:767px){

    .mobile_menu_button span {
        font-size: 30px !important;
    }
    .elementor-element.elementor-products-grid ul.products li.product a:after {
        height: calc(100% - 48px);
    }
    
    .elementor-25 .elementor-element.elementor-element-9e23c98 > .elementor-element-populated,
    .elementor-25 .elementor-element.elementor-element-62f5526 > .elementor-element-populated {
        padding: 23px 10px;
    }
    h2.elementor-heading-title,
    .elementor-image-box-content h2.elementor-image-box-title {
        font-size: 32px !important;
    }
    .elementor-25 .elementor-element.elementor-element-4cb0d92,
    .elementor-25 .elementor-element.elementor-element-9b7ab90,
    .elementor-25 .elementor-element.elementor-element-b23776a {
        padding: 10px 0;
    }
    .elementor-element.elementor-products-grid ul.products li.product img {
        height: 150px;
        object-fit: contain;
    }
    .elementor-element .woocommerce .woocommerce-loop-category__title {
        font-size: 14px !important;
        min-height: 35px;
    }
   
    .elementor-element.elementor-wc-products ul.products {
        grid-column-gap: 10px !important;
        grid-row-gap: 20px !important;
    }
    h3.elementor-image-box-title {
        font-size: 22px !important;
    }
    .footer-wrap .elementor-row .elementor-element {
        width: 100% !important;
    }
}